body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.App {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: rgb(13, 13, 20);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.disk {
  background-image: url("Home Alone.jpg");
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  width: 60vw;
  height: 60vw;

  overflow: hidden;

  -webkit-box-shadow: 4px 5px 8px 0px rgba(34, 60, 80, 0.15);
  -moz-box-shadow: 4px 5px 8px 0px rgba(34, 60, 80, 0.15);
  box-shadow: 4px 5px 8px 0px rgba(34, 60, 80, 0.15);

  animation-name: rotation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.name-container {
  margin-top: 3em;
}

.name {
  color: #fff;
  font-weight: 300;
  font-size: 26px;
}

.paused {
  -webkit-animation-play-state: paused !important;
  -moz-animation-play-state: paused !important;
  -o-animation-play-state: paused !important; 
  animation-play-state: paused !important;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}